body {
  background-color: #24292e;
  margin: 0;
  padding: 0;
  font-family: 'Roboto'; }
  body * {
    margin: 0;
    padding: 0; }

.navbar .navbar-nav {
  float: right !important; }

main {
  width: 100%;
  float: left;
  margin-top: 20px; }

aside {
  margin-top: 20px;
  height: auto; }
  aside .inside {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 20px; }
    aside .inside ul {
      list-style: none; }
